body {
    background: #f0f0f2;
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    direction: rtl;
}

header img {
    width: 130px;
    margin: 5px 0;
    height: auto;
    display: inline-block;
}

header .categories {
    color: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
    height: 100%;
    cursor: pointer;
}

header .categories ul {
    position: absolute;
    top: 35px;
    right: 0;
    background: rgb(255, 255, 255);
    z-index: 99;
    border-radius: 5px;
    padding: 10px 0;
    list-style-type: none;
    display: none;
}

header .categories:hover ul {
    display: inline-block;
}

header .categories ul li a {
    color: black;
    transition: .3s ease all;
    display: block;
    padding: 2px 30px;
}

header .categories ul li a:hover {
    color: white;
    text-decoration: none;
    background: rgb(135, 47, 132);
}

header .sign {
    border-radius: 5px;
    border: solid 1px rgba(255, 255, 255, 0.7);
    padding: 8px 20px;
    float: left;
    color: rgba(255, 255, 255, 0.8);
    transition: .3s ease all;
    margin: 20px;
}

header .sign:hover {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
}

footer {
    border-top: solid 1px rgb(19, 124, 145);
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(to bottom, rgba(19, 124, 145, 0.5), transparent);
}

footer img {
    width: 180px;
    height: auto;
}

footer a {
    color: rgb(19, 124, 145);
    transition: .3s ease all;
}

footer a:hover {
    color: black;
    text-decoration: none;
}
