.slider-container {
    position: relative;
    overflow: auto;
    width: 100%;
    height: 650px;
}

.slider-container .slick-arrow {
    position: absolute;
    z-index: 2;
    width: 64px;
    height: 64px;
}

.slider-container .slick-prev:before,
.slider-container .slick-next:before {
    font-size: xx-large;
}

.slider-container .slick-prev {
    left: 2%;
}

.slider-container .slick-next {
    right: 2%;
}

.slider-container .slider {
    position: relative;
}

.slider-container .slider .slide {
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider-container .slider .slide .content {
    text-align: right;
    margin-top: 15%;
    margin-right: 10%;
    color: white;
}

.slider-container .slider .slide .content h3 {
    font-weight: 600;
}

.slider-container .slider .slide .content a {
    background: white;
    color: #333;
    transition: .3s ease all;
    padding: 7px 25px;
}

.slider-container .slider .slide .content a:hover {
    background: #FFA03B;
}
