main {
    margin-top: 120px;
}

h1 {
    color: rgb(135, 47, 132);
    padding-bottom: 10px;
    border-bottom: solid 1px rgb(135, 47, 132);
    font-size: large;
}

video {
    width: 100%;
    height: auto;
    background: black;
}

h2 {
    color: rgb(135, 47, 132);
    padding-bottom: 10px;
    border-bottom: solid 1px rgb(135, 47, 132);
    font-size: large;
}
