.video-box {
    direction: rtl;
}

.video-box h2 {
    color: rgb(135, 47, 132);
    padding-bottom: 10px;
    border-bottom: solid 1px rgb(135, 47, 132);
}

.video-box .video {
    padding: 5px;
    transition: .4s ease all;
}

.video-box .video:after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 40%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), transparent);
    border-radius: 5px;
}

.video-box .video img {
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
}

.video-box .video p {
    position: absolute;
    right: 20px;
    color: white;
    z-index: 9;
    user-select: none;
}

.video-box .video p:nth-of-type(1) {
    bottom: 30px;
    font-weight: bold;
}

.video-box .video p:nth-of-type(2) {
    bottom: 5px;
}

.video-box .video a {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    z-index: 99;
    transition: .4s ease all;
}

.video-box .video:hover a {
    display: block;
    background: url("../img/play.png") no-repeat center;
    background-size: 64px 64px;
}

.video-box .read-more {
    color: rgb(135, 47, 132);
    transition: .3s ease all;
    display: inline;
}

.video-box .read-more:hover {
    color: black;
    text-decoration: none;
}
